*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    background-color: #8fa4e9 ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .login{
    width: 1000px;
    min-height: 500px;
    overflow: hidden;
    border-radius: 5px;
    background: #636b99;
    display: flex;
    box-shadow: 15px 5px 30px rgb(0,0,0,0.3);
  }
  
  .content{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:  #586A76;
  }
  
  .content img {
    width: 100%;
    height: 100%;
  }
  
  .loginform {
    flex-basis: 50%;
    background: #0000;
    font-family: roboto;
    padding: 25px;
  }
  
  .loginform h1 {
    text-align: center;
    margin-top: 25px;
    font-size: 2.5em;
    margin-bottom: 50px;
    color: #fff;
  }
  
  .form-group{
    width: 100%;
  }
  
  ::placeholder {
    color: white;
  }
  .btn {
    width: 100%;
    border: 0;
    border-radius: 5px;
    background: #ecbe3d;
    color: #fff;
    padding: 12px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .signup {
    text-align: center;
  }
  .signup a{
    color: #ecbe3d;
    font-weight: 600;
    text-decoration: none;
  }