:host {
    display: block;
    padding: 16px;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 16px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
  
    button {
      margin-left: 8px;
    }
  }
  
  button {
    &.mat-button {
      font-weight: bold;
    }
  
    &.mat-primary {
      color: #1976d2;
    }
  
    &.mat-warn {
      color: #d32f2f;
    }
  }
  
  .mat-dialog-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .mat-select-trigger {
    color: #000; // Optional: if you want to change the select label color
  }
  
  .mat-datepicker-toggle {
    color: #757575;
  }
  
  @media (max-width: 600px) {
    :host {
      padding: 8px;
    }
  
    mat-dialog-actions {
      flex-direction: column;
      button {
        margin-left: 0;
        margin-bottom: 8px;
      }
    }
  }
  