<div class="dashboard">
    <div class="dashboard-cards">
      <mat-card appearance="outlined">
        <mat-card-content>Total Income</mat-card-content>
      </mat-card>
      <mat-card appearance="outlined">
        <mat-card-content>Expenses</mat-card-content>
      </mat-card>
      <mat-card appearance="outlined">
        <mat-card-content>Balance</mat-card-content>
      </mat-card>
    </div>
    <div class="dashboard-graph">
      <div class="graph-row">
        <mat-card appearance="outlined">
          <mat-card-content>Graph 1</mat-card-content>
        </mat-card>
        <mat-card appearance="outlined">
          <mat-card-content>Graph 2</mat-card-content>
        </mat-card>
      </div>
      <div class="graph-row">
        <mat-card appearance="outlined">
          <mat-card-content>Graph 3</mat-card-content>
        </mat-card>
        <mat-card appearance="outlined">
          <mat-card-content>Graph 4</mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  